[Desktop Entry]
Name=Demouse
GenericName=Demouse
Comment=A test thing
Categories=Utility;Education;
Exec=io.orta.demouse
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Hello;World;Example;
